*.pth
*.mp4
*.ubj
*.pyc
__pycache__/
*.tif
*.gpkg
*.zip
data/
!algorithms/monitoring/ultralytics/data/
!algorithms/monitoring/ultralytics/data/**
algorithms/monitoring/ultralytics/data/**/__pycache__/
algorithms/monitoring/ultralytics/data/**/*.pyc
outputs/
algorithms/inundation_monitoring/models/best_flood_unet.pth
algorithms/monitoring/data/测试数据/流速测试视频.mp4
algorithms/swe/snowai/density/density_model.ubj
